
@{
    ViewBag.Title = "首页";
    Layout = "~/Areas/ShortWeb/Views/Shared/Master.cshtml";
}
<!--BANNER START-->

<div class="banner-outer">

    <div id="banner" class="element"> <img src="~/Content/foreground/images/banner.jpg" alt="banner"> </div>

    <div class="caption">

        <div class="holder">
            <div class="btn-row"> <a href="job-seekers.html"><i class="fa fa-user"></i>我要招聘</a> <a href="employers.html"><i class="fa fa-building-o"></i>我要工作</a> </div>

        </div>

    </div>
</div>

<!--BANNER END-->
<!--MAIN START-->

<div id="main">

    <!--POPULAR JOB CATEGORIES START-->

    <section class="popular-categories">

        <div class="container">

            <div class="clearfix">

                <h2>最具信用公司</h2>

                <a href="#" class="btn-style-1">更多</a>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">

                    <div class="box">
                        <img src="~/Content/foreground/images/categories-icon-2.png" alt="img">

                        <h4><a href="#">Restaurant, Food, Hotels</a></h4>

                        <strong>3,750 Jobs</strong>

                        <p>Available in Restaurant &amp; Hotels</p>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="box">
                        <img src="~/Content/foreground/images/categories-icon-3.png" alt="img">

                        <h4><a href="#">Transporation</a></h4>

                        <strong>1,265 Jobs</strong>

                        <p>Available in Transportation</p>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="box">
                        <img src="~/Content/foreground/images/categories-icon-4.png" alt="img">

                        <h4><a href="#">Healthcare &amp; Medicine</a></h4>

                        <strong>5,913 Jobs</strong>

                        <p>Available in Medical</p>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="box">
                        <img src="~/Content/foreground/images/categories-icon-5.png" alt="img">

                        <h4><a href="#">Software &amp; Development</a></h4>

                        <strong>7,418 Jobs</strong>

                        <p>Available in IT</p>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="box">
                        <img src="~/Content/foreground/images/categories-icon-6.png" alt="img">

                        <h4><a href="#">Accounting &amp; Finance</a></h4>

                        <strong>8,045 Jobs</strong>

                        <p>Available in Accounts &amp; Finance</p>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="box">
                        <img src="~/Content/foreground/images/categories-icon-7.png" alt="img">

                        <h4><a href="#">Education &amp; Academia</a></h4>

                        <strong>3,891 Jobs</strong>

                        <p>Available in Education</p>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6">

                    <div class="box">
                        <img src="~/Content/foreground/images/categories-icon-8.png" alt="img">

                        <h4><a href="#">Construction, Engineering</a></h4>

                        <strong>9,942 Jobs</strong>

                        <p>Available in Architect</p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!--POPULAR JOB CATEGORIES END-->
    <!--RECENT JOB SECTION START-->

    <section class="recent-row padd-tb">

        <div class="container">

            <div class="row">

                <div class="col-md-9 col-sm-8">

                    <div id="content-area">

                        <h2>热门工作</h2>

                        <ul id="myList">

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-1.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Marketing Graphic Design / 2D Artist</a></h4>

                                        <p>Design Communication Studio</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Moorgate, London</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$4000 - $5000</strong> <a href="#" class="btn-1 btn-color-1 ripple">Part Time</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-2.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Public Relation Executive Manager</a></h4>

                                        <p>Life Insurance LLC</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$7000 - $7500</strong> <a href="#" class="btn-1 btn-color-2 ripple">Full Time</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-3.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Instructor Classroom Head</a></h4>

                                        <p>School of Design and Multimedia</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$30/hr - $40/hr</strong> <a href="#" class="btn-1 btn-color-3 ripple">Freelance</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-4.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Technical Database Engineer</a></h4>

                                        <p>Datebase Management Company</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$2200 - $3000</strong> <a href="#" class="btn-1 btn-color-4 ripple">Contract</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-5.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Marketing Graphic Design / 2D Artist</a></h4>

                                        <p>Design Communication Studio</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$4000 - $5000</strong> <a href="#" class="btn-1 btn-color-1 ripple">Part Time</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-2.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Public Relation Executive Manager</a></h4>

                                        <p>Life Insurance LLC</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$7000 - $7500</strong> <a href="#" class="btn-1 btn-color-2 ripple">Full Time</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-3.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Instructor Classroom Head</a></h4>

                                        <p>School of Design and Multimedia</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$30/hr - $40/hr</strong> <a href="#" class="btn-1 btn-color-3 ripple">Freelance</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-4.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Technical Database Engineer</a></h4>

                                        <p>Datebase Management Company</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$2200 - $3000</strong> <a href="#" class="btn-1 btn-color-4 ripple">Contract</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-2.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Public Relation Executive Manager</a></h4>

                                        <p>Life Insurance LLC</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$7000 - $7500</strong> <a href="#" class="btn-1 btn-color-2 ripple">Full Time</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-3.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Instructor Classroom Head</a></h4>

                                        <p>School of Design and Multimedia</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$30/hr - $40/hr</strong> <a href="#" class="btn-1 btn-color-3 ripple">Freelance</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-4.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Technical Database Engineer</a></h4>

                                        <p>Datebase Management Company</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$2200 - $3000</strong> <a href="#" class="btn-1 btn-color-4 ripple">Contract</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-1.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Marketing Graphic Design / 2D Artist</a></h4>

                                        <p>Design Communication Studio</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Moorgate, London</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$4000 - $5000</strong> <a href="#" class="btn-1 btn-color-1 ripple">Part Time</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-2.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Public Relation Executive Manager</a></h4>

                                        <p>Life Insurance LLC</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$7000 - $7500</strong> <a href="#" class="btn-1 btn-color-2 ripple">Full Time</a>
                                </div>

                            </li>

                            <li>

                                <div class="box">

                                    <div class="thumb"><a href="#"><img src="~/Content/foreground/images/recent-job-thumb-3.jpg" alt="img"></a></div>

                                    <div class="text-col">

                                        <h4><a href="#">Instructor Classroom Head</a></h4>

                                        <p>School of Design and Multimedia</p>

                                        <a href="#" class="text"><i class="fa fa-map-marker"></i>Nationwide</a> <a href="#" class="text"><i class="fa fa-calendar"></i>Dec 30, 2015 - Feb 20, 2016 </a>
                                    </div>

                                    <strong class="price"><i class="fa fa-money"></i>$30/hr - $40/hr</strong> <a href="#" class="btn-1 btn-color-3 ripple">Freelance</a>
                                </div>

                            </li>

                        </ul>

                        <div id="loadMore"> <a href="#" class="load-more"><i class="fa fa-user"></i>Load More Jobs</a></div>

                    </div>
                </div>
            </div>

        </div>

    </section>

    <!--RECENT JOB SECTION END-->
</div>

<!--MAIN END-->
