p{
    margin:0;
    padding:0;
}
.clear-margin{
    margin:0;
}
.text-error {
    color: #dd4b39;
}
.display-block{
    display:block;
}
.margin-bottom {
    padding-bottom: 2%;
}
.clear-padding{
    padding:0 !important;
}
.images-response {
    display: block;
    max-width: 100%;
    height: auto;
}
.gray-bg {
    background-color: #FFF;
}
.iconHeader-color {
    background-color: #1A90BC;
}
.marTop-Search {
    margin-top:2%;
}
/*媒体查询开始*/
@media (max-width:768px) {
    .marTOrd-xs_min {
        margin:0;
    }
    .marTOrd-xs {
        margin: 2% 0;
    }
    .marTop-xs{
        margin-top:2%;
    }
    .pad-bottom-xs {
        padding-bottom:5px;
    }
    body{
        font-size:12px !important;
    }
    .mar-rightPri{
        margin-right:1%;
    }
}
@media (min-width:768px) {
    .marTOrd-xs {
        margin: 0%;
    }
    .pad-bottom-xs {
        padding-bottom:0;
    }
    .marTOrd-xs_min {
        margin: 1% 0;
    }
    .marTop-xs{
        margin-top:4%;
    }
    body {
        font-size: 13px !important;
    }
    .mar-rightPri {
        margin-right: 2%;
    }
}
/*媒体查询结束*/
/*上下边距*/
.marTOrd-lg {
    margin: 2% 0;
}
.marTOrd-sm {
    margin: 1% 0;
}
.no-records-found{
    text-align: center;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.display{
    display:block;
}
.widthAll{
    width:100%;
}