p{
    margin:0;
    padding:0;
}
.gray-bg {
    background-color: #FFF;
}
/*媒体查询开始*/
@media (max-width:768px) {
    .marTOrd-xs {
        margin: 2% 0;
    }
}
@media (min-width:768px) {
    .marTOrd-xs {
        margin: 0%;
    }
}
/*媒体查询结束*/
/*上下边距*/
.marTOrd-lg {
    margin: 2% 0;
}
.marTOrd-sm {
    margin: 1% 0;
}
.no-records-found{
    text-align: center;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}