
@{
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body table-responsive">
                <table id="ManagerTable" class="table col-xs-12 col-sm-12 col-lg-12 text-nowrap"></table>
            </div>
        </div>
    </div>
</div>

