
@{
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@section Styles{
    @Styles.Render("~/Styles/PersonData")
}
@{
    WorkContext workContext = new WorkContext();
    var currentPerson = workContext.CurrentPerson;
}
<div class="col-sm-3 clear-padding">
    <div class="box float-e-margins">
        <div>
            <div class="box-body profile-content">
                <div class="no-padding border-left-right margin-bottom col-lg-12">
                    <img alt="image" class="img-responsive" src="~/Content/Images/AdminImg/@currentPerson.PerImage">
                </div>
                <h4><strong>职位</strong></h4>
                <p><i class="fa fa-address-book-o"></i> &nbsp;&nbsp;@currentPerson.Position</p>
                <h4><strong>工作介绍</strong></h4>
                <p>
                    <i class="glyphicon glyphicon-exclamation-sign"></i> &nbsp;&nbsp; @currentPerson.PersonDetail
                </p>
                <h4><strong>QQ</strong></h4>
                <p>
                    <i class="fa fa-qq"></i> &nbsp;&nbsp;  @currentPerson.Qq
                </p>
                <h4><strong>微信</strong></h4>
                <p>
                    <i class="fa fa-weixin"></i>  &nbsp;&nbsp; @currentPerson.WeChat
                </p>
                <div class="row margin-top">
                    <div class="col-sm-6 text-center">
                        <button type="button" onclick="javascript:window.location.href='/Person/PersonAdminDetail'" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i> 编辑个人资料</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" onclick="javascript:window.location.href='/Person/EditPassWord'" class="btn btn-danger btn-sm"><i class="fa fa-pied-piper-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp; 修改密码</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

